<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test_chrome">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="regressionTestScripts.VerifyActitimeVersion"/>
      <class name="regressionTestScripts.InvalidLogin"/>
      <class name="regressionTestScripts.ValidLoginLogout"/>
    </classes>
  </test>
    <test thread-count="5" name="Test_firefox">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="regressionTestScripts.VerifyActitimeVersion"/>
      <class name="regressionTestScripts.InvalidLogin"/>
      <class name="regressionTestScripts.ValidLoginLogout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
